*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: #000;
}

h1{
  color: #fff;
  margin: 1%;
}

.container input{
  margin: 1%;
}
ul{
  color: #fff;
  border: 1px solid #fff;
  margin: 1%;

}
ul li{
  color: #fff;
  list-style: none;
  margin: 1%;
}